<!doctype html>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ url_for('static', filename='B4S_favicon.png') }}" type="image/png">  
  
</section style="margin-left: auto; margin-right: auto;"><br><br></section>
<nav class="topnav">
  <h1><a href="/index"><img style="position: absolute; width:130px; height: 110px; margin-top: -50px; margin-bottom: -20px;" class="resize" src="/static/logo.png" /></a></h1>
  
    {% if g.user %}
      Welcome {{ g.user[1] }}!
      <ul>
      <li><a href="/logout">Log Out</a></li>
      {% if g.user[4] == 't' %}
      <li><a href="/statistics">Technical area</a></li>
      {% endif %}
      </ul>
    {% else %}
  <ul>      
      <li><a href="/register">Register</a>
      <li><a href="/login">Log In</a>
    {% endif %}
  </ul>
</nav><br>
<body style="background-image: url(/static/back.png); background-size: cover;">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<section>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class = "flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</body>
<div style="float: left; width: 100%;height: 1px;">
<nav style="background-color:transparent">
  <h1><a href="https://www.polimi.it"><img style="display:block; margin-left: auto; margin-right: auto; width:130px; height: 80px;" class="resize" src="/static/polimi.png" /></a></h1>
  
</nav>
</div>

