<!doctype html>
<title> </title>
<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 85%;
}

.right {
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<nav>
  <h1><a href="/index">bike4share</a></h1>

    {% if g.user %}
      Welcome {{ g.user[1] }}!
      <ul>
      <li><a href="/logout">Log Out</a></li>
      {% if g.user[4] == 't' %}
      <li><a href="/statistics">Technical area</a></li>
      {% endif %}
      </ul>
    {% else %}
  <ul>      
      <li><a href="/register">Register</a>
      <li><a href="/login">Log In</a>
    {% endif %}
  </ul>
</nav>
<div class="row">
  <div class="left" style="background-image:url(/static/milan.jpg);background-size: cover">
<body>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

      <hr>
<section class = "content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class = "flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section></div>

 <div class="left"><h2>Column 1</h2>
    <p>Some text..</p></div>
 </div>

</body>
