{% extends 'base.html' %}
<style>
</style>

{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

    {% if g.user %}
    <section>
    	<div class = "content" id="premium">
	        <div style= "border-style: solid; border-width: 1px; border-color: #189cdf;margin-right: 12px;" id="map_premium"></div>
            <div style= "border-style: solid; border-bottom: 0px; border-width: 1px; border-color: #189cdf; margin-left:0; margin-right:4px; width: 40%; height: 40px; overflow:auto; background-image: linear-gradient(#eee,#fff); padding: 10px;"><b>List of nearest stations : <br></b></div>
	        <div style= "border-style: solid; border-width: 1px; border-color: #189cdf; margin-left:0; margin-right:4px; width: 40%; height: 460px; overflow:auto; background-image: linear-gradient(#eee,#fff); padding: 10px;" id="nearest_stalls"></div>
        </div>
        <script src="{{url_for('static', filename = 'stalls_free.geojson')}}" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
        <script src="{{url_for('static', filename = 'leaflet-knn.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename = 'map_premium.js')}}" type="text/javascript"></script>
        </section>
    {% else %}
    <section class="column">
        <div class = "content" style= "border-style: solid; border-width: 1px; border-color: #189cdf;margin-right: 12px;" id="map"></div>
        <script src="{{url_for('static', filename = 'var_stat.geojson')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename = 'map.js')}}" type="text/javascript"></script>
        </div><br><br><br><br>
        </section>

        <div class="columnside" style="border-style: solid; border-width: 1px; border-color: #189cdf; background-image: linear-gradient(#eee,#fff); height: 500px; margin-left: 0;"><a>What is bike4share<br><br>bike for share is a platform....</a>
            </div><br><br><br>



    {% endif %}

{% endblock %}
