{% extends 'base.html' %}


{% block header %}
<h1 style="text-align: center">{% block title %}Statistics{% endblock %}</h1>
{% endblock %}

{% block content %}
	{% if g.user[4] == 't' %}
	<section style="background-color: #eee; overflow:auto;">
	    {{ bokS|indent(4)|safe }}
	</section><br>
	{% else %}
		{% if g.user[4] == 'u' %}
		    <p style="color: #eee">
    			This page is reserved for tecnicias. Go back to the <a style="color: #eee" href="/index">WebGIS</a>
 		 	</p>
		{% else%}
		     <p style="color: #eee">
    			You must be logged in to access to this area, please <a style="color: #eee" href="/login">log in</a>
 		 	</p>
		{%endif%}
	{% endif %}
{% endblock %}

