{% extends 'base.html' %}

{% block header %}
  <h1 class="fadeIn fourth" style="text-align: center">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
<form method="post">
<div class="wrapper fadeInDown">
  <div id="formContent">
  	<br><div class="fadeIn first">
      <img class="resize" src="/static/login.png" />

    </div>

    <!-- Login Form -->
    <form>
     <br><label for="username">Username</label><br><br>
     <input name="username" class="fadeIn second" id="username" required><br><br>
     <label for="password">Password</label><br><br>
     <input type="password" class="fadeIn third" name="password" id="password" required><br><br>
     <input type="submit" class="fadeIn fourht" value="Log In">
     </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/forgotpassword" target="_blank">Forgot Password</a>
    </div>

  </div>



{% endblock %}