{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Set New Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="given_code">Insert the code received by E-mail</label>
    <input type="given_code" name="given_code" id="given_code" required>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="new_password">New Password</label>
    <input type="new_password" name="new_password" id="new_password" required>
    <input type="submit" value="Set New Password">
  </form>
{% endblock %}