{% extends 'base.html' %}

{% block header %}
  <h1 class="fadeIn fourth" style="text-align: center">{% block title %}Set New Password{% endblock %}</h1>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
<div class="wrapper fadeInDown">
  <div id="formContent">
  <form method="post">
    <br><label for="given_code">Insert the code received by E-mail</label><br><br>
    <input class="fadeIn first"  name="given_code" id="given_code" required><br><br>
    <label for="username">Username</label><br><br>
    <input class="fadeIn second"  name="username" id="username" required><br><br>
    <label for="new_password">New Password</label><br><br>
    <input class="fadeIn third"  type="password" name="new_password" id="new_password" required><br><br>
    <input class="fadeIn fourth" type="submit" value="Set New Password"><br>
  </form>
  </div>
{% endblock %}