{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Techinician registration{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="secret_code">Insert the secret code</label>
    <input type="secret_code" name="secret_code" id="secret_code" required>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}